* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    background-color: #FFF7ED;
}

img {
    max-width: 100%;
    display: block;
}

/* ------------------------------- Typography ------------------------------- */

h1,
h2 {
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;
}


/* --------------------------------- Layout --------------------------------- */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* --------------------------------- Header --------------------------------- */

.site-header {
    padding: 2em 0;
    background-color: #FFF7ED;
}

.logo a {
    font-size: 1.625rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}


/* ------------------------------- Navigation ------------------------------- */

.site-nav a {
    font-weight: 600;
    font-size: 1.05rem;
    margin-left: 1.5em;
    color: #4D4D4D;
    border-bottom: 2px solid none;
    text-decoration: none;
}

.site-nav a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

a.active-link {
    color: #000;
    border-bottom: 2px solid #000;
}

/* ---------------------------------- Home ---------------------------------- */

.home {
    color: #fff;
    background-image: url(/public/images/home-bg.png);
    background-color: #999;
    background-size: cover;
    background-position: 0% 20%;
    background-blend-mode: multiply;
    padding: 4em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 2.25rem;
}

.home-subtitle {
    margin-bottom: 3rem;
}

/* ---------------------------------- About --------------------------------- */

.about {
    background-color: #FFF7ED;
    flex-grow: 1;
}

.container-about {
    padding: 2.5rem 0;
}

.about-page-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.about-title {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

.about-card {
    padding: 2rem;
    background-color: #FFCC8D;
    border-radius: 5px;
    margin-top: 4rem;
}

.about-card-title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
}

/* ---------------------------------- Vans ---------------------------------- */

.vans-page {
    padding: 1rem 0 3rem;
    flex-grow: 1;
}

.vans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vans-page-title {
    font-size: 1.625rem;
    font-weight: 700;
}

.van-card {
    width: 100%;
    margin-bottom: 1.5rem;
}

.van-card a {
    text-decoration: none;
    color: #000;
}

.van-img {
    border-radius: 10px;
    margin-bottom: .75rem;
}

.van-card-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5rem;
}

.van-card-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.van-card-price {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
    text-align: right;
}
.van-card-price strong {
    font-size: 1.25rem;
    display: block;
    text-align: left;
}

@media (min-width: 475px) {
    .van-card {
        width: 47%;
        margin-bottom: 1.5rem;
    }

    .van-card-title {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    .van-card-price {
        margin: 0;
        font-size: .8rem;
    }
    .van-card-price strong {
        font-size: 1rem;
    }
}

/* ------------------------------- Van Detail ------------------------------- */

.van-detail-page {
    flex-grow: 1;
    padding: 0 0 4rem;
}

.van-detail-page img {
    margin-bottom: 2rem;
    border-radius: 5px;
}

.van-detail-title {
    margin-top: 1rem;
    margin-bottom: .5em;
}

.van-price {
    font-size: 1.125rem;
    margin-top: 0;
}

.van-price span {
    font-size: 1.5rem;
    font-weight: 700;
}

/* ---------------------------------- Host ---------------------------------- */

.host {
    flex-grow: 1;
}

.host-nav {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.host-nav a {
    font-weight: 500;
    text-decoration: none;
    color: #4D4D4D;
    border-bottom: 2px solid none;
}

.host-nav a:focus,
.host-nav a:hover {
    font-weight: 700;
    color: #000;
    border-bottom: 2px solid #000;
}

.host-nav a.active-link {
    font-weight: 700;
    color: #000;
    border-bottom: 2px solid #000;
}

@media (min-width: 500px) {
    .host-nav {
        display: block;
    }

    .host-nav a {
        margin-right: 2em;
    }
}

/* -------------------------------- Host Vans Tab -------------------------------- */

.vans-tab {
    margin-bottom: 4rem;
}

.vans-tab-link {
    color: #161616;
    text-decoration: none;
}

.vans-tab-card {
    background-color: #fff;
    padding: 1.25em 1.85em;
    border-radius: 5px;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
}

.vans-tab-card img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 1rem;
}

.vans-tab-card h3,
.vans-tab-card p {
    margin: 0;
    margin-bottom: .05em;
}

/* ----------------------------- Host Van Detail ---------------------------- */

.host-van-detail {
    background: #fff;
    border-radius: 5px;
    padding: 1.5em;
    margin-bottom: 4rem;
}

.host-van-detail-tabs {
    margin-bottom: 1.5em;
}

.host-van-detail-tabs a {
    text-decoration: none;
    color: #4D4D4D;
    margin-right: 1.5em;
    border-bottom: 2px solid none;
}

.host-van-detail-tabs .tab {
    font-weight: 700;
    color: #000;
    border-bottom: 2px solid #000;
}

.host-van-detail-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.host-van-detail-container img {
    max-width: 140px;
    border-radius: 3px;
}

.host-van-detail-container h2, 
.host-van-detail-container p {
    margin: 0;
    margin-bottom: .15em;
}

.host-van-detail-container p {
    font-weight: 800;
    font-size: 1.15rem;
}

.host-van-detail-container p span {
    font-weight: 500;
    font-size: 1rem;
}

.back-link-container {
    color: #858585;
    margin-bottom: 1.5rem;
}

.back-link-container span {
    margin-right: .5em;
    font-weight: 700;
}

.back-link {
    color: #000;
    margin-bottom: 2rem;
}

/* --------------------------------- Buttons -------------------------------- */

.btn {
    font-weight: 700;
    font-size: 0.875rem;
    border: 0;
    padding: 1em 1.25em;
    border-radius: 5px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    width: 100%;
    color: #fff;
    background-color: #FF8C38;
}

.btn-secondary {
    color: #fff;
    font-weight: 700;
    background-color: #161616;
    border-radius: 10px;
}

.btn-simple,
.btn-rugged,
.btn-luxury {
    position: relative;
    top: -12px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: .5em 1em;
    color: #fff;
}

.btn-simple {
    background-color: #E17654;
}

.btn-rugged {
    background-color: #115E59;
}

.btn-luxury {
    background-color: #161616;
}

/* --------------------------------- Footer --------------------------------- */

.site-footer {
    padding: 1.25em 0;
    background-color: #252525;
}

.small-copy {
    font-size: .85rem;
    color: #AAAAAA;
    text-align: center;
    margin: 0;
}
